<div class="container">
  <div class="row">
    <div class="col-12 py-5">
      <h2>Leden</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div>
        {{#each @activeMembers as |member index|}}
          <div>

            <div class="py-4" data-slug={{member.slug}}>
              <div class="d-flex justify-content-between w-100 {{if (mod index 2) 'flex-row' 'flex-row-reverse'}}">
                <img
                  src={{member.profileImgSmallSrc}}
                  class="img-fluid rounded-circle {{if (mod index 2) 'ml-auto' 'ml-auto'}}"
                  alt=""
                  role="none"
                  {{style this.style}}
                />
                <div class="{{if (mod index 2) 'text-end' 'text-start'}}">
                  <h5 class="mb-0">{{member.title}}</h5>
                  <p class="mb-0 font-italic">{{lowercase member.tagLine}}</p>
                </div>
              </div>
            </div>

            <div class="accordion-body">
              <div class="row {{if (mod index 2) 'flex-row-reverse' 'flex-row'}}">
                <div class="col-12 col-sm-6 col-md-5">
                  <img class="img-fluid mb-0" src="{{member.profileImgLargeSrc}}" alt={{member.title}} />
                  <p class="small mb-0 {{if (mod index 2) 'text-right' 'text-left'}}">{{member.title}}{{#if member.tagLine}},
                      {{member.tagLine}}{{/if}}</p>
                </div>

                <div class="col-12 col-sm-6 col-md-7">
                  <Util::MarkdownFromUrl @url={{member.profileTextSrc}} />
                </div>
              </div>
            </div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>