<div class="container align-self-center" ...attributes>
  <div class="row">
    <div class="col-12 col-sm-5">
      <h2>Contact</h2>
    </div>
  </div>

  <div class="row text-responsive">
    <div class="col-12 col-sm-5">
      <Util::MarkdownFromUrl @url="/sections/contact.md" />
    </div>
    <div class="col-12 col-sm-7">

      {{#if this.isSubmitted}}
        <p>Bedankt voor je reactie, we nemen contact met je op...</p>
      {{/if}}

      {{#unless this.isSubmitted}}

        <HeadlessForm @data={{this.changeset}} @dataMode="mutable" @onSubmit={{this.onSubmit}} @validate={{(validate-changeset)}} autocomplete="off" as |form|>
          <form.Field @name="name" as |field|>
            <div class="mb-3">
              <field.Label class="form-label">Naam</field.Label>
              <field.Input class="form-control form-control-lg bg-transparent" />
              <field.Errors class="invalid-feedback d-block" as |errors|>
                {{get (get errors 0) "message"}}
              </field.Errors>
            </div>
          </form.Field>

          <form.Field @name="email" as |field|>
            <div class="mb-3">
              <field.Label class="form-label">E-mail</field.Label>
              <field.Input @type="email" class="form-control form-control-lg bg-transparent" />
              <field.Errors class="invalid-feedback d-block" as |errors|>
                {{get (get errors 0) "message"}}
              </field.Errors>
            </div>
          </form.Field>

          <form.Field @name="phone" as |field|>
            <div class="mb-3">
              <field.Label class="form-label">Telefoon</field.Label>
              <field.Input @type="phone" class="form-control form-control-lg bg-transparent" />
              <field.Errors class="invalid-feedback d-block" as |errors|>
                {{get (get errors 0) "message"}}
              </field.Errors>
            </div>
          </form.Field>

          <form.Field @name="subject" as |field|>
            <div class="mb-3">
              <field.Label class="form-label">Onderwerp</field.Label>
              <field.Input class="form-control form-control-lg bg-transparent" />
              <field.Errors class="invalid-feedback d-block" as |errors|>
                {{get (get errors 0) "message"}}
              </field.Errors>
            </div>
          </form.Field>

          <form.Field @name="message" as |field|>
            <div class="mb-3">
              <field.Label class="form-label">Boodschap</field.Label>
              <field.Textarea class="form-control form-control-lg bg-transparent" rows="5" />
              <field.Errors class="invalid-feedback d-block" as |errors|>
                {{get (get errors 0) "message"}}
              </field.Errors>
            </div>
          </form.Field>
          <form.Field @name="reCaptchaToken" as |field|>
            <GRecaptcha @onSuccess={{this.onCaptchaResolved}} @onExpired={{this.onCaptchaExpired}} @ref={{mut this.reCaptchaReference}} />

            <field.Errors class="invalid-feedback d-block" as |errors|>
              {{get (get errors 0) "message"}}
            </field.Errors>
          </form.Field>

          <button type="submit" class="btn btn-primary w-100 mt-5">verzend</button>
        </HeadlessForm>
      {{/unless}}

    </div>
  </div>

  <PortalTarget @name="section-contact" />

</div>