<div class="container mx-auto px-4">
  <div>
    <h2 class="text-3xl py-5">Leden</h2>
  </div>
  {{#each @activeMembers as |member index|}}
    <div class="collapse">
      <label for="checktoggle{{index}}" class="hidden"></label>
      <input type="radio" id="checktoggle{{index}}" name="checktoggle" />
      <div class="collapse-title text-xl font-medium">
        <div class="py-4" data-slug={{member.slug}}>
          <div class="flex justify-content-between w-100 {{if (mod index 2) 'flex-row' 'flex-row-reverse'}}">
            <img
              src={{member.profileImgSmallSrc}}
              class="img-fluid rounded-full {{if (mod index 2) 'mr-auto' 'ml-auto'}}"
              alt=""
              role="none"
              {{style this.style}}
            />
            <div class="{{if (mod index 2) 'text-end' 'text-start'}}">
              <h5 class="mb-0 text-xl">{{member.title}}</h5>
              <p class="mb-0 font-italic">{{lowercase member.tagLine}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse-content">
        <div class="grid grid-cols-3 gap-4">
          <figure class="max-w-lg col-span-1 {{if (mod index 2) ' order-last' ''}}">
            <img class="h-auto max-w-full mb-0" src="{{member.profileImgLargeSrc}}" alt={{member.title}} />
            <figcaption class="mt-2 text-sm {{if (mod index 2) 'text-right' 'text-left'}}">{{member.title}}{{#if member.tagLine}},
                {{member.tagLine}}{{/if}}</figcaption>

          </figure>

          <div class="col-span-2 {{if (mod index 2) '' 'order-last'}} prose md:prose-xl">
            <Util::MarkdownFromUrl @url={{member.profileTextSrc}} />
          </div>
        </div>
      </div>
    </div>
  {{/each}}

</div>